@use "../../styles/variables" as *;

.favorites-page
{
    padding: 40px 60px;
    background: #f7f8fa;
    min-height: 100vh;

    .page-title {
        font-size: 2.2rem;
        font-weight: 700;
        color: $bg-color;
        margin-bottom: 8px;
    }
    .products-amount {
        font-size: 0.95rem;
        color: $gray-text-color;
        margin-bottom: 24px;

        strong {
        color: $blue-color;
        font-weight: 700;
        }
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 28px;
    }

    .product-error
    {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin: 10px;
        color: $error-color;
    }

    .back-link {
        display: inline-flex;
        align-items: center;
        padding: 10px;
        border-radius: $border-radius;
        background-color: $blue-color;
        border: 2px solid $blue-color;
        color: #fff;
        
        gap: 6px;
        margin-bottom: 30px;
        font-weight: 600;
        text-decoration: none;
        transition: all 0.2s;

        &:hover
        {
            background-color: #fff;
            color: $gray-text-color;
            border: 2px solid $gray-text-color;
        }
    }
}