@use "../../styles/variables" as *;

.orders-profile-page {
  min-height: 100vh;
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    .manage-title {
      font-size: 14px;
      font-weight: 600;
      color: $gray-text-color;
    }
  }

  .error {
    margin-top: 20px;
    color: $error-color;
    font-weight: 500;
  }

  .orders-manage-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    border-radius: $border-radius;
    background: $error-color;
    color: #fff;
    font-size: 0.9rem;
  }

  .back-link {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: $border-radius;
    background-color: $blue-color;
    border: 2px solid $blue-color;
    color: #fff;
    
    gap: 6px;
    margin-bottom: 30px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s;

    &:hover
    {
        background-color: #fff;
        color: $gray-text-color;
        border: 2px solid $gray-text-color;
    }
  }
}