@use "../../../styles/variables" as *;

.admin-layout {
  padding: 24px;
  max-width: 1400px;
  margin: 0 auto;

  .page-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .admin-nav {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    padding: 8px;
    background: #fff;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    .nav-btn {
        display: flex;
        align-items: center;
        gap: 8px;

        padding: 10px 16px;
        border-radius: 12px;

        font-size: 15px;
        font-weight: 500;
        text-decoration: none;

        color: $gray-text-color;
        background: transparent;

        transition: 0.2s ease;

        &:hover {
            background: color-mix(in srgb, $blue-color, transparent 90%);
            color: $blue-color;
        }

        &.active {
            background: color-mix(in srgb, $blue-color, transparent 90%);
            color: $blue-color;
            font-weight: 600;
        }
    }
  }
}